{% extends "base.html" %}
{% block title %}トップページ{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <article>
    <section class="top-section red">
      <div class="container">
        <div class="row">
          <div class="center-center">
            <h1 class="h1">アイパー隊長のWebサイト</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="top-section blue">
      <div class="container">
        <div class="row">
          <div class="center-center">
            <h2 class="h2">アイパー隊長とは？</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="top-section yellow">
      <div class="container">
        <div class="row">
          <div class="center-center">
            <h2 class="h2">こんなことができる</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="top-section green">
      <div class="container">
        <div class="row">
          <div class="center-center">
            <h2 class="h2">苦手なこと</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="top-section black">
      <div class="container">
        <div class="row">
          <div class="center-center">
            <h2 class="h2">好きなこと・得意なこと</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="top-section white">
      <div class="container">
        <div class="row">
          <div class="center-center">
            <h2 class="h2">将来</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="top-section posts-section red">
      <div class="container">
        <div class="row">
          <div class="posts">
            <h2 class="h2">アイパー隊長が書いた記事</h2>
            <ul>
              {% for article in articles %}
                <li class="post">
                  <a class="post-link" href="{{ article.url }}">
                    <p class="post-date">記事の日付: {{ article.date|strftime('%d %B %Y') }}</p>
                    <p class="post-title">タイトル: {{ article.title }}</p>
                    <span class="hope-read-post">記事を読む</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock %}
