{% extends "base.html" %}
{% block title %}トップページ{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <article>
    <section class="top-section">
      <div class="container">
        <div class="row">
          <div class="center-center">
            <h1>アイパー隊長のWebサイト</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="top-section">
      <div class="container">
        <div class="row">
          <h1>アイパー隊長とは？</h1>
        </div>
      </div>
    </section>
    <section class="top-section">
      <div class="container">
        <div class="row">
          <h1>こんなことができる</h1>
        </div>
      </div>
    </section>
    <section class="top-section">
      <div class="container">
        <div class="row">
          <h1>苦手なこと</h1>
        </div>
      </div>
    </section>
    <section class="top-section">
      <div class="container">
        <div class="row">
          <h1>好きなこと・得意なこと</h1>
        </div>
      </div>
    </section>
    <section class="top-section">
      <div class="container">
        <div class="row">
          <h1>将来</h1>
        </div>
      </div>
    </section>
    <section class="top-section">
      <div class="container">
        <div class="row">
          <h1>アイパー隊長が書いた記事</h1>
          <ul>
            {% for article in articles %}
              <li>
                <p>記事の日付: {{ article.date|strftime('%d %B %Y') }}</p>
                <p>タイトル: {{ article.title }}</p>
                <div>
                  <a href="{{ article.url }}">記事へのリンク</a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  </article>
{% endblock %}